
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #010101;
    align-content: center;
    
}

.content {
    display: flex;
    justify-content: top; 
    align-items: top; 
    position: absolute;
    top: 5px;
    left: 5px;
    margin-left: 20px;
    

}

main section{
    position:relative;
    right: 120px;
    
}


.container {
    text-align: center; 
    height: 20vh; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.centered-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


header {
   background-color: #010101;
    color: #ffffff;
    padding: 10px;
    text-align: center;

    }


button {
    border: 0;
    background-image: linear-gradient(150deg, #f5c89c, #e36414, #ec9658);
    border-radius: 8px;
    color: white;
    display: flex;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    transition: 3s;
    
}

button span {
    background-color: black;
    padding: 16px 24px;
    border-radius: 6px;
    transition: 1.5s;
    
}

button:hover span{
    background: none;
    

}

button:active {
    transform: scale(0.9);
    
}

.contenedor {
    position: relative;
}

h1 {
    position: absolute;
    right: 200px;
    bottom: 5px;
    text-decoration:dashed;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

nav ul {
    list-style-type: none;
    padding: 0;
    -webkit-text-stroke-color: #e36414;
    
    
}

nav ul li {
    display: inline;
    margin-right: 20px;
    align-items: center;
    display: grid;
    grid-template-rows: auto;
}

nav a {
    text-decoration: solid;
    color: #e36414;
    font-weight: bold;
    text-align: center;

}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #010101;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 30px;
    background-color:#e36414;
    box-sizing:border-box;
    display:flow-root;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #e36414;
    color: #fff;
}

.carrousel {
       display: flex;
       flex-wrap: nowrap;
       overflow: auto;
}
